@import url('https://rsms.me/inter/inter.css');

html, .ql-editor {
    font-family: 'Inter', sans-serif;
}

.ql-container {
    height: auto;
}

.ql-editor.ql-blank::before {
    color: rgba(15,37,89,.33);
    content: attr(data-placeholder);
    font-style: normal;
    left: 2px;
    top: 4px;
    position: absolute;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #FAFBFD;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.ql-editor, section {
    color: #0F1339;
    font-size: 16px;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 32px;
}

#content {
    font-size: 16px;
    line-height: 32px;
}

#ai-content {
    font-size: 16px;
    line-height: 32px;
}

.contentholder {
    flex-flow: row wrap;
}

section {
    width: 100%;
    max-width: 100%;
    padding: 8em;
    padding-top: 10em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section + section {
    border-left: 2px solid #0F1339;
}

.name {
    color: #0F1339;
    position: absolute;
    top: 6em;
    left: 8em;
    font-weight: bold;
    width: calc(100% - 16em);
}

#refresh {
    fill: #0F1339;
    margin-bottom: 4em;
}

.faded {
    color: rgba(15,67,89,.33);
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: calc(4em - 12px);
}

.actionPic {
    padding-left: 6px;
}

.actionLabel {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    color: #FAFBFD;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;

    border-radius: 8px;
    background-color: rgba(27,189,205,1);
    transition: 0.2s all;
    cursor: default;
    width: 108px;
    height: 32px;
}

.buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button:hover {
    box-shadow: 0px 4px 16px rgba(27,189,205,.33);
}

.hideButton {
    display: none;
}

input {
    width: 100%;
    background: none;
    border: none;
    font-size: 32px;
    font-family: 'Inter var', sans-serif;
    color: #0F1339;
    font-weight: 500;
}

input::placeholder {
    color: rgba(15,67,89,.33);
}

textarea:focus, input:focus{
    outline: none;
}

.signature {
    color: rgba(15,67,89,.33);
    text-align: left;
    width: calc(100%);
    font-size: 12px;
    line-height: 16px;
}


.marquee {
  overflow: hidden;
  position: relative;
  width: 108px;
  background-color: rgba(27,189,205,.33);
}

.marquee div {
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -90%; }
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    section {
        padding: 32px;
        padding-top: 7em;
    }

    p {
        font-size: 18px;
        line-height: 36px;
    }

    .ql-editor.ql-blank::before {
        line-height: 32px;
    }

    input {
        font-size: 22px;
        font-weight: 600;
    }

    .name {
        top: 3em;
        left: 32px;
        width: calc(100% - 64px);
    }

    .signature {
        bottom: 3em;
        right: 32px;
        width: calc(100% - 64px);
        font-size: 10px;
        line-height: 10px;

    }

    .actionPic {
        padding-left: 6px;
        font-size: 24px;
        
    }
    
    .actionLabel {
        font-size: 18px;
        line-height: 18px;
    }
    
    .button {
        margin-top: 24px;
        width: 128px;
        height: 42px;
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }

    .signature {
        width: 100%;
        margin-bottom: calc(6em - 32px);
    }
}

@media only screen and (max-width: 372px) {
    body {
        width: 100%;
    }

    section {
        padding: 16px;
        padding-top: 6em;
    }

    .name {
        left: 16px;
        width: calc(100% - 32px);
    }

    .signature {
        margin-bottom: 2em;
    }
}