<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duet</title>
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
<section>
    <div class="name user">
        <input type="text" placeholder="Name Me" />
    </div>
    <div id="editor"></div>
    <div class="actions">
        <div id="refresh" class="button" >
            <span class="actionPic">👀</span>
            <span class="actionLabel">MOAR</span>
        </div>
    </div>
</section>

<script>

    function getText() {
        return quill.getText().split('\n').join(' ')
    }

    var element = document.createElement("link");
    element.setAttribute("rel", "stylesheet");
    element.setAttribute("type", "text/css");
    element.setAttribute("href", "./styles.css");
    document.getElementsByTagName("head")[0].appendChild(element);




    $(document).ready(() => {
        const colorGrey = "rgba(15, 67, 89, 0.33)";
        const colorBlack = "rgb(15, 67, 89)";

        var quill = new Quill('#editor', { placeholder: 'Anything to say?' });
        window.quill = quill

        var lastPosition = -1;

        function checkColor() {
        if (quill.getFormat() && quill.getFormat().color === colorGrey) {
                quill.format('color', colorBlack);
            }
        }


        // When you press the refresh button, POST to the backend.
        $('#refresh').click(event => {
            $.ajax('/api/generate', {
                type: "POST", dataType: "json", data: JSON.stringify({text: getText()})
            }).done(data => {
                quill.insertText(lastPosition, data.response, {
                    color: colorGrey 
                })
            }).fail(() => {
                alert("bugggzz")
            })
            
        });


        quill.on('selection-change', function(range, oldRange, source) {
            if (range) {
                if (range.length == 0) {
                    lastPosition = range.index;
                    checkColor();
                } else {
                    var text = quill.getText(range.index, range.length);
                    lastPosition = range.index;
                    checkColor();
                }
            } else {
                //not in the editor
            }
        });

    })
</script>

</body>
</html>