<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Primary Meta Tags -->
    <title>Duet - The AI Cure to Writer's Block</title>
    <meta name="title" content="Duet - The AI Cure to Writer's Block">
    <meta name="description" content="Add a dose of entropy to your creative writing with the power of GPT-2">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://duet.li/">
    <meta property="og:title" content="Duet - The AI Cure to Writer's Block">
    <meta property="og:description" content="Add a dose of entropy to your creative writing with the power of GPT-2">
    <meta property="og:image" content="https://duet.li/static/meta.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://duet.li/">
    <meta property="twitter:title" content="Duet - The AI Cure to Writer's Block">
    <meta property="twitter:description" content="Add a dose of entropy to your creative writing with the power of GPT-2">
    <meta property="twitter:image" content="https://duet.li/static/meta.png">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5cdc95407f177d00120fa30b&product='inline-share-buttons' async='async'></script>
</head>
<body>
<section>
    <div>
        <div class="name user">
            <input id="editor-title" type="text" />
        </div>
        <div id="editor"></div>
        <div class="actions">
            <div>
                <div id="refresh"><div class="button" >
                    <span class="actionLabel">👀 Moar</span>
                    </div>
                </div>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style rightAlign">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_email"></a>
                </div>
            </div>
        </div>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>


    <p class="signature">
        Made with ❤️ by Jason Benn, Austin Hou, Christina Kim, and Ben Mann using GPT-2<br />
        <a class="tallLineHeight" href="https://aiwriter.typeform.com/to/lh2l0F">Feedback?</a>
    </p>
</section>

<script>

    function getText() {
        return quill.getText().split('\n').join(' ')
    }

    var element = document.createElement("link");
    element.setAttribute("rel", "stylesheet");
    element.setAttribute("type", "text/css");
    element.setAttribute("href", "../static/styles.css");
    document.getElementsByTagName("head")[0].appendChild(element);

    $(document).ready(() => {
        const colorGrey = "rgba(15, 67, 89, 0.33)";
        const colorBlack = "rgb(15, 67, 89)";
        const buttonLoadHTML = '<div class="button marquee" ><div class="buttonContent"><span class="actionPic">🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔</span></div></div>';
        const buttonMoarHTML = '<div class="button" ><span class="actionPic">👀</span><span class="actionLabel">Moar</span></div>';

        const addOnlyAtEnd = true;

        const copyOptions = [{
            title: "Give me a title",
            text: "The cure to writer's block is a healthy dose of entropy"
        }]

        const copy = copyOptions[Math.floor(Math.random() * copyOptions.length)]
        $('#editor-title').attr('placeholder', copy.title)
        var quill = new Quill('#editor', { placeholder: copy.text });
        window.quill = quill

        var lastPosition = -1;

        function checkColor() {
        if (quill.getFormat() && quill.getFormat().color === colorGrey) {
                quill.format('color', colorBlack);
            }
        }


        // When you press the refresh button, POST to the backend.
        $('#refresh').click(event => {
            $( 'div.button' ).replaceWith(buttonLoadHTML);
            let sendText = getText();
            if (sendText.length <= 1) {
                sendText = $( "#editor-title" ).text();
            }
            var urlParams = new URLSearchParams(window.location.search);
            $.ajax('/api/generate', {
                type: "POST", dataType: "json", data: JSON.stringify({text: sendText.trim(), model: urlParams.get('model')})
            }).done(data => {
                let newText = data.response;
                newText = newText.replace(/[^\x00-\xFF]/g, ""); //remove non-unicode

                let lastOld = getText()[getText().length-1]
                let firstNew = newText.slice(-1)
                // Text may have been trimmed before sending to server.
                if (lastOld === " " && firstNew === " ") { //both spaces
                    newText = newText.trim(); //delete 1 space
                }

                quill.insertText(addOnlyAtEnd ? getText().length - 1 : lastPosition, newText, {
                    color: colorGrey
                })

                lastPosition = lastPosition + newText.length; // only relevant if addOnlyAtEnd is false

                $( 'div.button' ).replaceWith(buttonMoarHTML);
            }).fail(e => {
                alert("bugggzz")
                console.error(e)
                $( 'div.button' ).replaceWith(buttonMoarHTML);
            })

        });

        quill.on('editor-change', function(eventName, ...args) {
            if (eventName === 'text-change') {
                //$("div.hideButton").removeClass("hideButton");
            } else if (eventName === 'selection-change') {
                let range = args[0]
                let oldRange = args[1]
                let source = args[2]
                if (range) {
                    if (range.length == 0) {
                        lastPosition = range.index;
                        checkColor();
                    } else {
                        var text = quill.getText(range.index, range.length);
                        lastPosition = range.index;
                        checkColor();
                    }
                } else {
                    //not in the editor
                }
            }
        });

        // const socket = io();
        // socket.on('token', (event) => {
        //     console.log(event);
        // });
        // socket.on('connect', () => {
        //     socket.emit('client_connected', {data: 'New client!'});
        // });
        // socket.on('disconnect', () => {
        //     console.log('disconnected');
        // });


    })
</script>

</body>
</html>
